/*color of header #2E2F42 */
/*color of text #434455 */
/*colot of accent #4D5AE5 */

:root {
    --dark: #2E2F42;
    --text: #434455;
    --primary-brand: #4D5AE5;
    --basik-white: #ffffff;
    --pressed-state: #404BBF;
    --light: #F4F4FD;

}


body { 
    color: var(--text);
    background-color: var(--basik-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark);
    text-decoration-line: none;
}

.logo:hover,
.logo:focus{
    color: var(--pressed-state);
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light);
    text-decoration-line: none;

}
.accent {
    color: var(--primary-brand);
}

.menu .link {
    color: var(--dark);
    font-weight: 500;
    line-height: 1.5;
    text-decoration-line: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--pressed-state);
}

.contact {
    color: inherit;
    line-height: 1.5;
    font-style: normal;
    text-decoration-line: none;
}

.contact:hover,
.contact:focus,
.contact:active {
    color: var(--pressed-state);
}

.hero {
    background: var(--dark);
    color: var(--basik-white);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}


.title {
    color: var(--dark);
    
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.description {
    line-height: 1.5;
    color: var(--text);
}

.team {
    background: var(--light);
}


.footer {
    background: var(--dark);
}
.slogan {
    color: var(--light);;
    line-height: 1.5
}

.example {
    text-decoration-line: none;
}

/* КНОПКИ */
.hero-button {
    font-family: Roboto, sans-serif;
    color: var(--basik-white);
    font-weight: 500;
    line-height: 1.5;
    background: var(--primary-brand);
    align-items: center;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background: var(--pressed-state);
}

.button {
    font-family: Roboto, sans-serif;
    color: var(--primary-brand);
    font-weight: 500;
    line-height: 1.5;
    background: var(--light);
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--basik-white);
    background: var(--pressed-state);
}

